.wave-letter {
  display: inline-block;
  animation-name: wave;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--i) * 0.45s);
}

.container-header {
    background-color: rgba(97, 97, 97, 0.3);
    border-bottom: solid rgb(255, 255, 255, 0.39);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
