.reset-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.39);
  background-color: rgba(180, 50, 50, 0.7);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.desktop-only {
  display: inline-block;
  margin-top: 1rem;
  
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inline-block;
    position: fixed;
    bottom: 62.5%;
    left: 75%;
    margin: 0;
    z-index: 100000;
  }
}