button, .shop-click-button, .shop-upgrade-button {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.shop-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  color: #eee;
}

.shop-sidebar {
  width: 300px;
  text-align: left;
  padding-right: 1rem;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.shop-sidebar h3 {
  margin-bottom: 1rem;
}

.shop-upgrades-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 8.5rem;
}

.shop-upgrade-item {
  margin-bottom: 0.75rem;
}

.shop-upgrade-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.39);
  font-size: 1rem;
  transition: background-color 0.2s ease;
  font-weight: 600;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: rgb(240, 240, 240);
  background-color: rgba(97, 97, 97, 0.25);
}

.shop-upgrade-button:hover:not(:disabled) {
  background-color: rgba(165, 165, 165, 0.5);
}

.shop-upgrade-button:disabled {
  cursor: not-allowed;
  background-color: rgba(80, 80, 80, 0.25);
  color: rgba(180, 180, 180, 0.6);
}

.shop-center {
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  text-align: center;
}

.shop-clicks {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: #ccc;
}

.shop-clicks.active {
  color: #3caaff;
  animation: pulseColor 3s infinite alternate;
}

.pop.clone {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  font-weight: 600;
  color: #3caaff;
  text-shadow: 0 0 8px #3caaff;
  user-select: none;
  pointer-events: none;
  transform-origin: center;
  animation-fill-mode: forwards;
}

@keyframes popFall {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(var(--xOffset, 0)) rotate(0deg);
  }
  30% {
    transform: translateY(-20px) translateX(var(--xOffset, 0)) rotate(var(--rotation, 0deg));
  }
  100% {
    opacity: 0;
    transform: translateY(40px) translateX(var(--xOffset, 0)) rotate(calc(var(--rotation, 0deg) + 90deg));
  }
}

@media screen and (max-width: 768px) {
  .shop-container {
    flex-direction: column;
    align-items: center;
  }

  .shop-center {
    order: -1;
    text-align: center;
    max-width: 90%;
  }

  .shop-sidebar {
    overflow: hidden;
    width: 100%;
    padding: 1rem;
    height: auto;
  }

  .shop-upgrades-list {
    display: flex;
    flex-direction: column;
    max-height: none;
    overflow-y: auto;
    margin-bottom: 3.2rem;
  }

  .shop-upgrade-button {
    width: 100%;
  }

  .shop-sidebar h3 {
    position: static;
    background-color: transparent;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
}